﻿@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách người dùng</h2> 
<div class="row">     
<div class="col-lg-12">
    <div class="panel panel-default">            
        <div class="panel-heading">                 
            Danh sách người dùng             
        </div>            
        <!-- /.panel-heading -->             
        <div class="panel-body">                 
            <div class="table-responsive">                     
                <table class="table table-striped table-bordered table-hover">                         
                    <thead>                             
                    <tr>                                 
                        <th>#</th>                                 
                        <th>Tài khoản</th>                                 
                        <th>Tên</th>                                 
                        <th>Email</th>                                 
                        <th>Phone</th>                                 
                        <th>Trạng thái</th>                             
                    </tr>                         
                    </thead>                        
                    <tbody>                             
                    @foreach (var item in Model)
                    {
                        <tr>                                 
                            <td>                                    
                                <a href="User/Edit/@item.ID">Sửa</a>                                     
                                <a href="User/Delete/@item.ID">Xóa</a>                                 
                            </td>                                 
                            <td>@item.UserName</td>                                 
                            <td>@item.Name</td>                                 
                            <td>@item.Email</td>                                 
                            <td>@item.Phone</td>                                 
                            <td>@item.Status</td>                             
                            </tr>
                    }                         
                    </tbody>                     
                </table>                     
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }));                 
            </div>                 
            <!-- /.table-responsive -->             
        </div>             
        <!-- /.panel-body -->         
    </div>         
    <!-- /.panel -->     
</div> 
    </div> 
